body
  font-size: 13px
  font-family: $main-font
  color: $text-color 
  line-height: 2
  background-color: $base-color

strong
  font-weight: bold

a
  +transition-duration(.3s)
  &:visited, &:active, &:link, &:hover
    text-decoration: none

h1
  +kanteiryu

h2
  +kanteiryu
  $width: 500px
  $height: 110px
  height: $height
  line-height: $height + 5px
  text-align: center
  background-image: image-url('pic-makimono.png')
  background-position: center 0
  background-size: $width
  background-repeat: no-repeat
  margin-bottom: 50px
  +mq
    $width: 320px
    $height: 70px
    height: $height
    line-height: $height
    background-size: $width
    font-size: 20px
    margin-bottom: 30px

.section
  margin: 50px auto
  position: relative
