.hero-image
  %h1
    =image_tag('logo.svg', alt: 'ぎんざRuby会議01', class: 'hero-image__logo')
  =image_tag('pic-train.png', class: 'hero-image__train')
  =image_tag('pic-hostess.png', class: 'hero-image__hostess')
  =image_tag('pic-middle.png', class: 'hero-image__middle')
  =image_tag('pic-attendant.png', class: 'hero-image__attendant')
  =image_tag('pic-itasan.png', class: 'hero-image__itasan')
.description
  .description__date 2017年8月5日（土）
  .description__venue 於: 株式会社 みんなのウェディング 会議室
  .description__theme お題: Ruby on Rails
  .description__button-box
    =link_to '参加のお申し込みはこちら', 'https://ginzarb.doorkeeper.jp/events/62058', target: '_blank', class: 'description__btn-cfp'
  %p.description__text
    ぎんざRuby会議01 は Ruby地域コミュニティである Ginza.rb 主催の地域Ruby会議です。
    %br
    Ginza.rb は、2013年6月に発足し、毎月第 3 火曜にミートアップを開催してきました。
    %br
    皆様のおかげで、今年8月に50回目のミートアップを迎える事が出来ます。
    %br
    今回、その50回目の記念として、ぎんざRuby会議01を開催いたします。
    %br
    ぎんざRuby会議01のテーマは、「Ruby on Rails」です。
    %br
    講演には、松田明さん、上薗竜太さんをゲストに招待します。
    %br
    また、発表枠として、通常発表枠(25分)とLT枠(5分)の2枠ご用意させて頂きました。
    %br
    普段Railsを使われている皆様と、Railsに関する知見や普段やられている取り組みをなどを共有し、
    %br
    互いに学べる場に出来ればと考えおります。
    %br
    みなさまのご参加をお待ち申し上げます。
