%section.section.section--sponsor
  %h2 スポンサー
  %ul.sponsor
    %li.sponsor__item
      =link_to image_tag('sponsor-esm.png', alt: '株式会社 永和システムマネジメント', class: 'sponsor__image'), 'http://agile.esm.co.jp', target: '_blank', class: 'sponsor__link'
    %li.sponsor__item
      =link_to image_tag('sponsor-drecom.png', alt: 'DRECOM with entertainment', class: 'sponsor__image'), 'http://www.drecom.co.jp/', target: '_blank', class: 'sponsor__link'
    %li.sponsor__item
      =link_to image_tag('sponsor-mwed.png', alt: '結婚式場選び日本最大級口コミサイト みんなのウェディング', class: 'sponsor__image'), 'https://www.mwed.jp/', target: '_blank', class: 'sponsor__link'

  .sponsor__illust
    =image_tag('pic-bridegroom.png', class: 'sponsor__bridegroom')
    =image_tag('pic-bride.png', class: 'sponsor__bride')
